<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Doações Registradas</title>
</head>

<body>

    <h1>Doações Registradas</h1>

    <a href="/cadastro" class="botao">Cadastrar Nova Doação</a>

    <table>
        <tr>
            <th>Item</th>
            <th>Quantidade</th>
            <th>Tipo</th>
            <th>Endereço</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>

        {% for d in doacoes %}
        <tr>
            <td>{{ d[1] }}</td>
            <td>{{ d[2] }}</td>
            <td>{{ d[3] }}</td>
            <td>{{ d[4] }}</td>
            <td>{{ d[5] }}</td>

            <td>
                <a href="/editar/{{ d[0] }}" class="botao botao-editar">Editar</a>
                <a href="/excluir/{{ d[0] }}" class="botao botao-excluir"
                   onclick="return confirm('Deseja realmente excluir?')">Excluir</a>
            </td>
        </tr>
        {% endfor %}
    </table>

</body>
</html>
